body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  width: 85vw;
  min-height: 80vh;
  max-width: 1024px;
  margin: 35px auto;
  background: #fff;
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page-view {
  min-height: 40vh;
}

.grid-view div.card.ui {
  margin: 1.25rem;
}
/*
.main-img {
  display: block;
  border-radius: 100%;
  margin: 0 auto;
} */

header h1 {
  text-align: center;
}

/* 0: {id: 1, name: "Rick Sanchez", status: "Alive", species: "Human", type: "", …}
1: {id: 2, name: "Morty Smith", status: "Alive", species: "Human", type: "", …}
2: {id: 3, name: "Summer Smith", status: "Alive", species: "Human", type: "", …}
3: {id: 4, name: "Beth Smith", status: "Alive", species: "Human", type: "", …}
4: {id: 5, name: "Jerry Smith", status: "Alive", species: "Human", type: "", …}
5: {id: 6, name: "Abadango Cluster Princess", status: "Alive", species: "Alien", type: "", …}
6: {id: 7, name: "Abradolf Lincler", status: "unknown", species: "Human", type: "Genetic experiment", …}
7: {id: 8, name: "Adjudicator Rick", status: "Dead", species: "Human", type: "", …}
8: {id: 9, name: "Agency Director", status: "Dead", species: "Human", type: "", …}
9: {id: 10, name: "Alan Rails", status: "Dead", species: "Human", type: "Superhuman (Ghost trains summoner)", …}
10: {id: 11, name: "Albert Einstein", status: "Dead", species: "Human", type: "", …}
11: {id: 12, name: "Alexander", status: "Dead", species: "Human", type: "", …}
12: {id: 13, name: "Alien Googah", status: "unknown", s */